<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>144 - Articuno</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content color="medium">

  <ion-card color="light">
    <ion-card-header>
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/144.png">
    </ion-card-header>
  </ion-card>


  <ion-card color="light">
    <ion-card-header  color="secondary">
      <ion-card-subtitle>Descrição</ion-card-subtitle>

    </ion-card-header>
  
    <ion-card-content>
      Articuno is a legendary bird Pokémon that can control ice. The flapping of its wings chills the air. As a result, it is said that when this Pokémon flies, snow will fall.
    </ion-card-content>
  </ion-card>


  <ion-card color="light">
    <ion-card-header  color="secondary">
      <ion-card-subtitle>Dados do Pokemon</ion-card-subtitle>

    </ion-card-header>
  
    <ion-card-content>
      Tipos
      <br>
      <ion-badge color="secondary">Ice</ion-badge> &nbsp;
      <ion-badge color="primary">Flying</ion-badge>
      <br>

      Fraquezas
      <br>
      <ion-badge color="warning">Rock</ion-badge> &nbsp;
      <ion-badge color="warning">Eletric</ion-badge> &nbsp;
      <ion-badge color="danger">Fire</ion-badge> &nbsp;
      <ion-badge color="medium">Steel</ion-badge>
      <br>
        
    </ion-card-content>
  </ion-card>


</ion-content>


