<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>094 - Gengar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">

  <ion-card color="light">
    <ion-card-header>
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/094.png">
    </ion-card-header>
  </ion-card>


  <ion-card color="light">
    <ion-card-header  color="tertiary">
      <ion-card-subtitle>Descrição</ion-card-subtitle>

    </ion-card-header>
  
    <ion-card-content>
      Sometimes, on a dark night, your shadow thrown by a streetlight will suddenly and startlingly overtake you. It is actually a Gengar running past you, pretending to be your shadow.
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header  color="tertiary">
      <ion-card-subtitle>Dados do Pokemon</ion-card-subtitle>

    </ion-card-header>
  
    <ion-card-content>
      Tipos
      <br>
      <ion-badge color="tertiary">Ghost</ion-badge> &nbsp;
      <ion-badge color="tertiary">Poison</ion-badge>
      <br>

      Fraquezas
      <br>
      <ion-badge color="dark">Dark</ion-badge> &nbsp;
      <ion-badge color="tertiary">Ghost</ion-badge> &nbsp;
      <ion-badge color="tertiary">Psychic</ion-badge>
      <br>
    </ion-card-content>
  </ion-card>


</ion-content>