<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>007 - Squirtle</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content color="medium">
  
    <ion-card color="light">
      <ion-card-header>
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/007.png">
      </ion-card-header>
    </ion-card>

    

    <ion-card color="light">
        <ion-card-header  color="primary">
          <ion-card-subtitle>Descrição</ion-card-subtitle>
  
        </ion-card-header>
      
        <ion-card-content>
            Squirtle's shell is not merely used for protection. The shell's rounded shape and the grooves on its surface help minimize resistance in water, enabling this Pokémon to swim at high speeds.
        </ion-card-content>
      </ion-card>


      <ion-card color="light">
          <ion-card-header  color="primary">
            <ion-card-subtitle>Dados do Pokemon</ion-card-subtitle>
    
          </ion-card-header>
        
          <ion-card-content>
            Tipos
            <br>
            <ion-badge color="primary">Water</ion-badge> &nbsp;
            
            <br>
  
            Fraquezas

            <br>
            <ion-badge color="warning">Eletric</ion-badge> &nbsp;
            <ion-badge color="success">Grass</ion-badge>
            
            <br>
              
          </ion-card-content>
        </ion-card>
  