<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>145 - Zapdos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">

  <ion-card color="light">
    <ion-card-header>
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/145.png">
    </ion-card-header>
  </ion-card>


  <ion-card color="light">
    <ion-card-header  color="warning">
      <ion-card-subtitle>Descrição</ion-card-subtitle>

    </ion-card-header>
  
    <ion-card-content>
      Zapdos is a legendary bird Pokémon that has the ability to control electricity. It usually lives in thunderclouds. The Pokémon gains power if it is stricken by lightning bolts.
    </ion-card-content>
  </ion-card>


  <ion-card color="light">
    <ion-card-header  color="warning">
      <ion-card-subtitle>Dados do Pokemon</ion-card-subtitle>

    </ion-card-header>
  
    <ion-card-content>
      Tipos
      <br>
      <ion-badge color="warning">Eletric</ion-badge> &nbsp;
      <ion-badge color="primary">Flying</ion-badge>
      <br>

      Fraquezas
      <br>
      <ion-badge color="secondary">Ice</ion-badge> &nbsp;
      <ion-badge color="warning">Rock</ion-badge>
      <br>
    </ion-card-content>
  </ion-card>


</ion-content>
