<ion-header>
    <ion-toolbar color="danger">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>004 - Charmander</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content color="medium">
  
    <ion-card color="light">
      <ion-card-header>
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png">
      </ion-card-header>
    </ion-card>

    <ion-card color="light">
        <ion-card-header  color="danger">
          <ion-card-subtitle>Descrição</ion-card-subtitle>
  
        </ion-card-header>
      
        <ion-card-content>
            The flame that burns at the tip of its tail is an indication of its emotions. The flame wavers when Charmander is enjoying itself. If the Pokémon becomes enraged, the flame burns fiercely.
        </ion-card-content>
      </ion-card>


      <ion-card color="light">
          <ion-card-header  color="danger">
            <ion-card-subtitle>Dados do Pokemon</ion-card-subtitle>
    
          </ion-card-header>
        
          <ion-card-content>
            Tipos
            <br>
            <ion-badge color="danger">Fire</ion-badge> &nbsp;
            <br>
  
            Fraquezas
            <br>
            <ion-badge color="warning">Ground</ion-badge> &nbsp;
            <ion-badge color="warning">Rock</ion-badge> &nbsp;
            <ion-badge color="primary">walter</ion-badge>
            <br>
              
          </ion-card-content>
        </ion-card>


</ion-content>