<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>152 - Chikorita</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content color="medium">

  <ion-card color="light">
    <ion-card-header>
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/152.png">
    </ion-card-header>
  </ion-card>


  <ion-card color="light">
    <ion-card-header  color="success">
      <ion-card-subtitle>Descrição</ion-card-subtitle>

    </ion-card-header>
  
    <ion-card-content>
      In battle, Chikorita waves its leaf around to keep the foe at bay. However, a sweet fragrance also wafts from the leaf, becalming the battling Pokémon and creating a cozy, friendly atmosphere all around.
    </ion-card-content>
  </ion-card>


  <ion-card color="light">
    <ion-card-header  color="success">
      <ion-card-subtitle>Dados do Pokemon</ion-card-subtitle>

    </ion-card-header>
  
    <ion-card-content>
      Tipos
      <br>
      <ion-badge color="success">Grass</ion-badge> &nbsp;
      <br>

      Fraquezas
      <br>
      <ion-badge color="success">Bug</ion-badge> &nbsp;
      <ion-badge color="danger">Fire</ion-badge> &nbsp;   
      <ion-badge color="primary">Flying</ion-badge> &nbsp;
      <ion-badge color="secondary">ice</ion-badge> &nbsp;
      <ion-badge color="tertiary">Poison</ion-badge>
      <br>
        
    </ion-card-content>
  </ion-card>


</ion-content>