<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>001 - Bulbasaur</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="medium">

  <ion-card color="light">
    <ion-card-header>
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png">
    </ion-card-header>
  </ion-card>




  
  <ion-card color="light">
      <ion-card-header  color="success">
        <ion-card-subtitle>Descrição</ion-card-subtitle>

      </ion-card-header>
    
      <ion-card-content>
          Bulbasaur can be seen napping in bright sunlight. There is a seed on its back. By soaking up the sun's rays, the seed grows progressively larger.
      </ion-card-content>
    </ion-card>



    

    <ion-card color="light">
        <ion-card-header  color="success">
          <ion-card-subtitle>Dados do Pokemon</ion-card-subtitle>
  
        </ion-card-header>
      
        <ion-card-content>
          Tipos
          <br>
          <ion-badge color="success">Grass</ion-badge> &nbsp;
          <ion-badge color="tertiary">Poison</ion-badge>
          <br>

          Fraquezas
          <br>
          <ion-badge color="danger">Fire</ion-badge> &nbsp;
          <ion-badge color="secondary">Ice</ion-badge> &nbsp;
          <ion-badge color="primary">Flying</ion-badge> &nbsp;
          <ion-badge color="tertiary">Psychi</ion-badge>
          <br>
            
        </ion-card-content>
      </ion-card>
  

</ion-content>