<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>197 - Umbreon</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content color="medium">

  <ion-card color="light">
    <ion-card-header>
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/197.png">
    </ion-card-header>
  </ion-card>


  <ion-card color="light">
    <ion-card-header  color="dark">
      <ion-card-subtitle>Descrição</ion-card-subtitle>

    </ion-card-header>
  
    <ion-card-content>
      Umbreon evolved as a result of exposure to the moon's waves. It hides silently in darkness and waits for its foes to make a move. The rings on its body glow when it leaps to attack.
    </ion-card-content>
  </ion-card>



  

  <ion-card color="light">
      <ion-card-header  color="dark">
        <ion-card-subtitle>Dados do Pokemon</ion-card-subtitle>

      </ion-card-header>
    
      <ion-card-content>
        Tipos
        <br>
        <ion-label text-wrap>
          <ion-badge color="dark">Dark</ion-badge> &nbsp;
        </ion-label>
        <br>

        Fraquezas
        <br>
        <ion-badge color="dark">Fighting</ion-badge> &nbsp;
        <ion-badge color="success">Bug</ion-badge> &nbsp;
        <ion-badge color="tertiary">Fairy</ion-badge>

        <br>
          
      </ion-card-content>
    </ion-card>


</ion-content>


