<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>146 - Moltres</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content color="medium">

  <ion-card color="light">
    <ion-card-header>
      <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/146.png">
    </ion-card-header>
  </ion-card>


  <ion-card color="light">
    <ion-card-header  color="danger">
      <ion-card-subtitle>Descrição</ion-card-subtitle>

    </ion-card-header>
  
    <ion-card-content>
      Moltres is a legendary bird Pokémon that has the ability to control fire. If this Pokémon is injured, it is said to dip its body in the molten magma of a volcano to burn and heal itself.
    </ion-card-content>
  </ion-card>

  <ion-card color="light">
    <ion-card-header  color="danger">
      <ion-card-subtitle>Dados do Pokemon</ion-card-subtitle>

    </ion-card-header>
  
    <ion-card-content>
      Tipos
      <br>
      <ion-badge color="danger">Fire</ion-badge> &nbsp;
      <ion-badge color="primary">Flying</ion-badge>
      <br>

      Fraquezas
      <br>
      <ion-badge color="warning">Rock</ion-badge> &nbsp;
      <ion-badge color="warning">Eletric</ion-badge> &nbsp;
      <ion-badge color="primary">water</ion-badge>
      <br>
        
    </ion-card-content>
  </ion-card>


</ion-content>


